*{
    margin: 0;
    padding: 0;
}


html,
body {
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    /* min-height: 100vh; */
    height: 100%;
    box-sizing: border-box;
    min-height: 100vh;
    display: block;
    /* text-align: center; */
    position: relative;
    padding-bottom: 100px;
}

.main{
    flex: 1;
}

#project-intro{
    display: flex;
    height: 610px;
    width: 720p;
}

.container{
    height: 81.25vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    
}

/* ********** */
.middle-container{
  background-color: #dce4de;
  margin : 0;
  padding : 30px 0;
}

.intro{
    width:30%;
    margin: 0 auto;
}

.skill-row{
    width:50%;
    margin: 70px auto;
    text-align: left;
    line-height: 2;
}

hr{
    border: dotted #667272 10px;
    border-bottom: none;
    background-color: transparent;
    width:5%;
    margin: 30px auto;
    text-align: center;
}

.image{
    width: 13%;
    margin: 0 auto;
    border-radius: 50%;
}

.code{
    width:20%;
    height:20%;
    float: left;
    border-radius: 50%;
    margin-right: 30px;
}

.team{
    width:20%;
    height:20%;
    float: left;
    /* border-radius: 50%; */
    margin-right: 30px;    
}

.todo-img{
    width:20%;
    height: 20%;
    float: right;
    border-radius: 50%;
    margin-left: 30px;
}

.mentor-img{
    width:20%;
    height: 20%;
    float: right;
    /* border-radius: 50%; */
    margin-left: 30px;
}

.para{
    margin-left: 9px;
}



.about-intro{
    text-align: left;
}

/* ************ */


#todo h1,h3{
    margin: 5px;
    padding: 5px;
}

.task-container{
    justify-content: center;
    height: 480px;
    width: 600px;
    /* border: grey 3px solid; */
    border-radius: 30px;
    
}

.taskbox {
   background: #f4f4f4;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin: 10px;
   padding: 20px 20px 12px;
   border-radius: 20px;
   cursor: pointer;
   flex-basis:0;
}

.taskbox input {
   height: 50px;
   width: 450px;
   border-radius: 10px;
   
}

.taskbox p {
    color:yellow;
    background-color: blue;
    border-radius: 5px;
    width: 80px;
    align-self:flex-end;
    padding: 5px 4px;
    margin-top: 10px;
    margin-bottom: 1rem;
}

.todo-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 80vh; */
    flex-wrap: wrap;
    flex-basis:0;
}

.todo-list{
    min-width: 80%;
    list-style: none;
}

.todo{
    margin:8px;
    background-color: rgb(226, 214, 214);
    color: black;
    font-size: 12px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* transition: all .5s ease; */
}

.todo li{
    flex: 1;
}

.delete-btn,.drag-btn{
    background-color: rgb(230, 117, 52);
    color: rgb(92, 71, 71);
    border: 0 ;
    border-radius: 0 3px 3px 0;
    padding: 8px;
    cursor: pointer;
    font-size: 22px;
    /* font-size: 8px; */
    
}

.completed-btn{
    background-color: rgb(230, 117, 52);
    color: rgb(92, 71, 71);
    border: 0;
    font-size: 22px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    /* font-size: 8px; */
    
}

input[type='checkbox'] {
    height: 20px;
    width: 20px;
    margin-left: 5px;
    margin-top: 5px;
    padding-top: 2px;
}

.todo-item{
    padding: 0 4px;
    font-size: 20px;
    text-align: left;
}

.completed{
    color: rgb(151, 102, 102);
    text-decoration: line-through;
}

.fa-trash, .fa-check, .fa-arrows-alt{
    pointer-events: none;
}

.shrink{
    transform: translateY(60px) rotateZ(10deg) ;
}

.todo.dragging{
    /* color: green;
    background-color: lightgreen; */
    opacity: .3;
}

.statusDiv{
    margin: 5px;
    padding: 5px;
    height: 30px;
}
 
.finshed,.pending{
    font-size: 15px;
    margin-top: 2px;
    color: rgb(209, 114, 114);
}

#footer{
    text-align: center;
    background-color: #e9c76f;
    padding: 5px 0 0 0;
    /* position:fixed; */
    bottom:0;
    width:100%;
    height:100px; 
    /* position:absolute; */
    /* left:150px; */
    /* bottom:300px;  */
}

.footer-icon{
    margin:10px 8px;
}

#footer p{
    /* color: red; */
    margin: 10px 0;
}

